@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/FuturaStdBook.otf") format("otf");
        //  url("/fonts/articulatcf-thin.woff2") format("woff2");
}


@font-face {
    font-family: "Futura";
    font-style: bold;
    font-weight: 300;
    src: url("/fonts/FuturaStdBold") format("otf");
        //  url("/fonts/articulatcf-extralight.woff2") format("woff2");
}

@font-face {
    font-family: "Futura";
    font-style: black;
    font-weight: 900;
    src: url("/fonts/FuturaStdExtraBold.otf") format("otf");
        //  url("/fonts/articulatcf-thin.woff2") format("woff2");
}