@use 'reset';
@use 'typography';
@use 'nav';
@use 'single';
@use 'table-of-contents';

main {
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 200px;

  & > p:first-of-type {
    margin-top: 40px; 
  }
  .homepage-show-location { margin-bottom: .5rem; }
  .homepage-show-location + p { margin-bottom: 3.5rem; }
}


// Nav breakpoint == 950
// min 375

