#TableOfContents{
  border: 1px solid #282633;
  background-color: #f6f6f6;
  max-width: 650px;
  margin: 0;
  padding: 16px;

  // & > ul > li { margin: 8px 0; }

  & > ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
      display: inline-block;
      padding: 4px 0;
    }
    & > li > ul {
      margin-left: 24px;
    }

  }
}

#TableOfContents + p {
  margin-top: 24px;
}