h1, h2, h3, h4, h5, h6, p, li { 
    font-family: 'Futura'; 
    color: #282633;
}

a{
    color: #224C98; 
    &#name{ color: #282633 }
    &:visited { color: #224C98; }
}

// Font sizes are material headdings h3-h6
h1 {
    font-size: clamp(36px, 4vw, 48px);
    margin: 4rem 0 2rem 0;
}

h2 {
    font-size: clamp(26px, 3vw, 34px);
    margin: 3.5rem 0 2rem 0;
}
h3 {
    font-size: clamp(20px, 3vw, 24px);
    margin: 2rem 0 1rem 0;
}
h4 {
    font-size: clamp(18px, 3vw, 20px);
    margin: 2rem 0 1rem 0;
}

h1, h2, h3, h4 { font-weight: 900; line-height: 1.2em;}
p, li { font-weight: 100; line-height: 1.4em; }