<nav id="sitenav">
    <img src="/img/logo.png" alt="LeBook Logo">
    <ul>
        {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}" title="{{ .Title }}"> {{ .Name }} </a>
        </li>
        {{ end }}
    </ul>
</nav>
<hr>