{{ define "main" }}
  <main>


    <h1>UPCOMING EVENTS</h1>

    <p>
      <!-- <b> CONTACTS: </b> <br> -->
      For information about current and upcoming shows contat: <br>
      <br>
      General information: <br>
      info@lebook.com <br>
      <br>
      Sales: <br>
      Mark: T: 201 723 9686 / Email: mark@lebook.com <br>
      Ellie: T: 805 452 5646 / Email: ellie.lebook@gmail <br>
      <br>
      Production: <br>
      derek.lebook@gmail.com <br>
      <br>
      Europe:<br>
      Ajay: T: 44 207 739 1155 / Email: ajay@lebook.com <br>
    </p>

    <br>

    <h2 class="homepage-show-location">DIGITAL AMERICAS</h2>
    <p>December 1st</p>
    <p>Info Coming Soon</p>

    <!-- This is the "card" divider ... -->
    <br>
    <br>
    <br>

    <h2 class="homepage-show-location">ATLANTA</h2>
    <p> December 8th </p>

    <p>
      <b> HOTEL: </b> <br>
      Location: <br>
      Link to book rooms: <br>
    </p>

    <br>

    <p>
      <b> SHIPPING AND A/V PARTNER: </b> <br>
      Our official shipping partner is IBC <br>
      Please contact Tom Mascola for rates & details <br>
      T: 917 209 3637/ Email: tom.mascola@ibcinc.com <br>
      <br>
      Our A/V Partner is Tallen Technology Rentals Please contact Bill Miller <br>
      T: 404 403 2329 / Email: bmiller@tallen-inc.com <br>
    </p>

    <br>

    <p>
      <b>SCHEDULE:</b><br>
      9:30 am - Exhibitor arrival and table setup To be completed by 11:00 am <br>
      11:00 am - Doors open to guests for portfolio/reel viewing <br>
      5:00 pm - Wine tasting & creative mingling during portfolio/reel viewing (your artists are welcome to attend) <br>
      7:00 pm - Exhibitor breakdown <br>
    </p>

    <br>

    <p>
      <b> DEADLINES: </b> <br>
      Exhibitor Board: 2 weeks after signing your contract. <br>
      Submission link: https://forms.gle/FbzGdW2jc24TW1K3A Creative Submissions: November 17th <br>
      Submission link: https://forms.gle/Fr8GUzNkfo67QYWn6 <br>
    </p>

    <br>

  </main>
{{ end }}